<div class="container">

<div class="row">
    <div class = "col-xs-12 text-center">
        <h1>Eat the Burger!</h1>
    </div>
</div>

<div class="row">
<div class="col-xs-6 text-left">
<h2>Burgers to Eat</h2>
        {{#each burgers}}
          {{#unless this.devoured}}
            <div>
              <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
              <div class="burger_name" style="font-size: 14pt; padding: 10px">{{this.burger_name}}
             <button class="btn btn-warning" type="submit">DEVOUR!</button>
             </div>
              </form>
            </div>
          {{/unless}}
        {{/each}}
</div>    

<div class="col-xs-6 text-right">
<h2>Burgers Devoured</h2>
    {{#each burgers}}
      {{#if this.devoured}}
          <!--<form class="col-md-12" action="/burger/delete/{{this.id}}?method=PUT" method="POST">-->
         <div class="burger_name" style="font-size: 14pt; padding: 10px">{{this.burger_name}}</div>
      {{/if}}
    {{/each}}
</div>
</div>


<div class="row">
    <div class="col=xs=12 text-center">
<h2>Add A Burger</h2>

<div class="row">
  <div class="col-xs-12 text-center">
    <form action="/burger" method="POST">
      <input type="text" id="name" name="burger_name">
      <button type="submit" class="addBurgerButton">Add The Burger</button>
    </form>
  </div>
</div>
</div>
</div>

</div>